.page {
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
    max-width: 1280px;
    min-width: 300px;
    margin: 0 auto;
    color: #fff;
    background-color: #000;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
