.header__name {
  font-size: 18px;
  line-height: 22px;
  font-weight: normal;
  text-align: right;
  transition: .7s ease;
  color: #fff;
  text-decoration: none;
}

.header__name:hover {
  cursor: pointer;
  color: #ccc;
  transition: .7s ease;
}

@media all and (max-width: 1080px) {
  .header__name {
    margin-right: 30px;
  }
}
