.popup__form {
  min-width: 430px;
  background-color: #fff;
  border-radius: 10px;
  margin: 195px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

@media all and (max-width: 620px) {
  .popup__form {
    max-width: 280px;
  }
}
