.header__out {
  font-size: 18px;
  line-height: 22px;
  font-weight: normal;
  text-align: right;
  transition: .7s ease;
  color: #fff;
  text-decoration: none;
}

.header__out:hover{
  cursor: pointer;
  color: #ccc;
  transition: .7s ease;
}
