.element__fav {
  background-image: url('../../../images/fav.svg');
  background-repeat: no-repeat;
  background-color: #fff;
  min-width: 20.76px;
  min-height: 18.13px;
  border: none;
  cursor: pointer;
  outline: none;
  transition: opacity 1s linear .1s;
}

.element__fav:hover {
  opacity: 0.6;
}
