.popup__image {
  object-fit: contain;
  max-width: 75vw;
  max-height: 75vh;

}

@media all and (max-width: 620px) {
  .popup__image {
    width: 240px;
    height: 299px;
    object-fit: cover;
  }
}
